<ion-header>
  <ion-toolbar>
    <ion-title>助记词生成</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item style="text-align: center">
      <ion-title size="large" color="primary">
        请抄下这12个助记词到一张纸上
      </ion-title>
    </ion-item>
    <ion-item style="text-align: center">
      <ion-card>
        <ion-card-content>
          <ion-text style="font-size: xx-large;color: black">
            {{mnemonic}}
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item style="text-align: center">
      <ion-text style="font-size: medium;color: red">
        （警告：您的助记词只会保存于本地客户端和您记录助记词的纸质文件上，这些助记词不会存储在云端或者服务器上。
        若APP卸载或者手机丢失，您可以通过这些 助记词恢复您的钱包，但是如果记录助记词的纸质文件也跟着丢失，
        那么您的钱包将无法追回。）
      </ion-text>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
    <ion-button size="default" (click)="toWalletMnemonicConfirm()">下一步</ion-button>
  </div>
</ion-content>
