<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
</ion-refresher>
<div *ngFor="let deepNews of deepNewsList; let i = index">
<!--    <ion-card (click)="toDeepNewsDetail(deepNews)">-->
<!--        <ion-card-header>-->
<!--            <ion-card-subtitle>-->
<!--                <ion-text>#{{i+1}} {{deepNews.extra.author}}， {{deepNews.extra.published_at*1000 | date: 'yyyy-MM-dd'}}</ion-text>-->
<!--            </ion-card-subtitle>-->
<!--        </ion-card-header>-->
<!--        <ion-card-content>-->
<!--            <img src="{{deepNews.extra.thumbnail_pic}}" referrerpolicy="no-referrer">-->
<!--            <ion-text style="color: black;font-size: large">{{deepNews.title}}</ion-text>-->
<!--        </ion-card-content>-->
<!--    </ion-card>-->
    <ion-card style="width: 100%" (click)="toDeepNewsDetail(deepNews)">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-text>#{{i+1}} {{deepNews.extra.author}}， {{deepNews.extra.published_at*1000 | date: 'yyyy-MM-dd HH:mm:ss'}}</ion-text>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col size="5">
                    <img src="{{deepNews.extra.thumbnail_pic}}" referrerpolicy="no-referrer">
                </ion-col>
                <ion-col size="7">
                    <ion-text style="color: black;font-size: large">{{deepNews.title}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
