<ion-header>
  <ion-toolbar>
    <ion-title>BCH-充币</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div style="text-align: center;margin-left: 3%;margin-right: 3%">
    <ion-title>
      <img src="https://menu.cdn.bitcoindotcom.net/uni/dist/assets/crypto/bch.png" referrerpolicy="no-referrer"
           style="max-width: 20px;max-height: 20px">
      BCH 地址：
    </ion-title>
    <ngx-qrcode [value]="privateKey.bchAddress"></ngx-qrcode>
    <ion-text>
      {{privateKey.bchAddress}}
    </ion-text>
    <br>
    <ion-button color="secondary" (click)="copyText()">
      <ion-icon name="copy" slot="start"></ion-icon>
      复制地址
    </ion-button>
  </div>
</ion-content>
