<ion-header>
  <ion-toolbar>
    <ion-title>导入BTC钱包</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-icon name="key-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="privateKey.btcPrivateKey" placeholder="请输入私钥"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" [(ngModel)]="privateKey.password" placeholder="请输入钱包密码" id="password"></ion-input>
      <ion-icon name="eye" color="medium" (click)="showPasswordOrNot()" id="passwordEye"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" [(ngModel)]="repeatPassword" placeholder="重复密码" id="repeatPassword"></ion-input>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
    <ion-button size="default" (click)="toWallet()">确定</ion-button>
  </div>
</ion-content>
