<ion-header>
  <ion-toolbar>
    <ion-title>钱包添加</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <img src="https://s2.bqiapp.com/coin/20181030_72_webp/bitcoin_200_200.webp?v=20" referrerpolicy="no-referrer"
             style="max-width: 20px;max-height: 20px">
        <ion-text style="font-size: medium">　比特币钱包</ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text style="color: grey">
        地址：
      </ion-text>
      <br>
      <ion-text style="color: black">
        {{privateKey.btcAddress}}
      </ion-text>
      <br>
      <ion-text style="color: grey">
        私钥：
      </ion-text>
      <br>
      <ion-text style="color: black">
        {{privateKey.btcPrivateKey}}
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <img src="https://s2.bqiapp.com/coin/20181030_72_webp/ethereum_200_200.webp?v=35" referrerpolicy="no-referrer"
             style="max-width: 20px;max-height: 20px">
        <ion-text style="font-size: medium">　ETH钱包</ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text style="color: grey">
        地址：
      </ion-text>
      <br>
      <ion-text style="color: black">
        {{privateKey.ethAddress}}
      </ion-text>
      <br>
      <ion-text style="color: grey">
        私钥：
      </ion-text>
      <br>
      <ion-text style="color: black">
        {{privateKey.ethPrivateKey}}
      </ion-text>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center">
    <ion-button size="large" (click)="toWallet()">确定</ion-button>
  </div>
</ion-content>
