<ion-header>
  <ion-toolbar>
    <ion-title>用户信息</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="UsernameRuleShow()">
      <!-- <ion-label position="stacked">Username</ion-label> -->
      <ion-icon name="person" color="primary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.username" placeholder="用户名"></ion-input>
    </ion-item>
    <div *ngIf="showUsernameRule == true">
      <ion-grid>
        <ion-row>
          <ion-col [size]="1" style="text-align: center;color: red;font-size: larger">
            *
          </ion-col>
          <ion-col>
            <ion-text style="color: gray">● 3-15 字符</ion-text>
            <br>
            <ion-text style="color: gray">● 只支持字母和数字</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item (click)="ruleClose()">
      <!-- <ion-label position="stacked">Email</ion-label> -->
      <ion-icon name="mail" color="tertiary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.email" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item (click)="ruleClose()">
      <!--      <ion-label position="stacked">Phone</ion-label>-->
      <ion-icon name="call" color="tertiary" slot="start"></ion-icon>
      <ion-input [(ngModel)]="user.phone" placeholder="电话"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="male-female-outline" color="warning" slot="start"></ion-icon>
      <ion-label>性别</ion-label>
      <ion-select [(ngModel)]="user.sex">
        <ion-select-option value="male">男</ion-select-option>
        <ion-select-option value="female">女</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" color="danger" slot="start"></ion-icon>
      <ion-label>生日</ion-label>
      <ion-datetime value="1990-02-19" placeholder="Select Date" [(ngModel)]="user.birthday"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="bookmark-outline" color="dark" slot="start"></ion-icon>
      <ion-textarea rows="8" placeholder="个人介绍" [(ngModel)]="user.description"></ion-textarea>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <ion-button (click)="update()">修改</ion-button>
  </div>
</ion-content>
