<ion-header>
  <ion-toolbar>
    <ion-title>重置密码</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <!-- <ion-label position="stacked">Username</ion-label> -->
      <ion-input [(ngModel)]="username" placeholder="用户名"></ion-input>
      <ion-icon name="person" color="primary"></ion-icon>
    </ion-item>
    <ion-item>
      <!-- <ion-label position="stacked">Password</ion-label> -->
      <ion-input [(ngModel)]="email" placeholder="邮件"></ion-input>
      <ion-icon name="mail" color="danger"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button (click)="forgetPassword()" color="tertiary">重置密码</ion-button>
  </div>
</ion-content>
