<ion-list lines="full">
  <ion-item>
    <ion-text style="color: grey">Github更新时间</ion-text>
    <ion-text slot="end">{{coinHotSocial.updatedate}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">Github提交总次数</ion-text>
    <ion-text slot="end">{{coinHotSocial.commits}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">Star次数</ion-text>
    <ion-text slot="end">{{coinHotSocial.star}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">Fork次数</ion-text>
    <ion-text slot="end">{{coinHotSocial.fork}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">贡献者数</ion-text>
    <ion-text slot="end">{{coinHotSocial.contributors}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">Twitter粉丝</ion-text>
    <ion-text slot="end">{{coinHotSocial.twittercount}}(+{{coinHotSocial.twittercountup}})</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">Reddit粉丝</ion-text>
    <ion-text slot="end">{{coinHotSocial.redditcount}}(+{{coinHotSocial.redditcountup}})</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">Facebook粉丝</ion-text>
    <ion-text slot="end">{{coinHotSocial.facebookcount}}(+{{coinHotSocial.facebookcountup}})</ion-text>
  </ion-item>
  <ion-item>
    <ion-text style="color: grey">GitHub粉丝</ion-text>
    <ion-text slot="end">{{coinHotSocial.watch}}</ion-text>
  </ion-item>
</ion-list>
