<ion-header>
  <ion-toolbar>
    <ion-title>订单支付</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div style="text-align: center;margin-left: 10%;margin-right: 10%">
    <ion-title>
      <img src="https://s2.bqiapp.com/coin/20181030_72_webp/ethereum_200_200.webp?v=35" referrerpolicy="no-referrer"
           style="max-width: 20px;max-height: 20px">
      {{receiverAddr.type}} 收款地址：
    </ion-title>
    <ngx-qrcode [value]="receiverAddr.receiveAddr"></ngx-qrcode>
    <ion-text>
      {{receiverAddr.receiveAddr}}
    </ion-text>
    <ion-icon name="copy-outline" (click)="copyText()"></ion-icon>
    <br>
  </div>
</ion-content>
