<ion-header>
  <ion-toolbar>
    <ion-title>ETH-WALLET</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-item>
      <ion-card style="background-color: #0892C1">
        <ion-card-header>
          <ion-card-subtitle>
            <img src="https://s2.bqiapp.com/coin/20181030_72_webp/ethereum_200_200.webp?v=35" referrerpolicy="no-referrer"
                 style="max-width: 20px;max-height: 20px">
            <ion-text style="font-size: medium;color: white;font-weight: bolder">　ETH-WALLET</ion-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text style="color: white">
            {{privateKey.ethAddress}}
          </ion-text>
          <br>
          <br>
          <ion-text style="color: white;font-size: large">
            价值：${{etherscanBalance.result/1000000000000000000 * price | number: '1.2-2'}}
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6" style="text-align: center">
            <ion-button size="default" (click)="toWalletEthereumReceive(privateKey)">充　币</ion-button>
          </ion-col>
          <ion-col size="6" style="text-align: center">
            <ion-button size="default" color="tertiary" (click)="toWalletEthereumSend(privateKey)">提　币</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <br>
  <ion-title style="font-weight: bolder">
    资产
    <ion-text style="font-size: small;color: royalblue;font-weight: normal;" (click)="toCoinDetail()">（币种介绍）</ion-text>
  </ion-title>
  <ion-list lines="full">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <img src="https://s2.bqiapp.com/coin/20181030_72_webp/ethereum_200_200.webp?v=35" referrerpolicy="no-referrer"
                 style="max-width: 20px;max-height: 20px">
          </ion-col>
          <ion-col size="3">
            <ion-text style="font-size: medium">ETH</ion-text>
          </ion-col>
          <ion-col size="8" style="text-align: right">
            <ion-text style="font-size: medium">{{etherscanBalance.result/1000000000000000000 | number: '1.2-8'}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <br>
  <ion-title style="font-weight: bolder">交易记录</ion-title>
  <ion-list lines="full">
    <div *ngFor="let transaction of etherscanBalance.txList">
      <ion-item (click)="toWalletEthereumTransaction(transaction)">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="code-working" color="success"></ion-icon>
            </ion-col>
            <ion-col size="7">
              hash: {{transaction.hash.slice(0,5)}}...{{transaction.hash.slice(transaction.hash.length-5,transaction.hash.length)}}
            </ion-col>
            <ion-col size="4" style="text-align: right">
              <div *ngIf="transaction.from.toLowerCase() == privateKey.ethAddress.toLowerCase()">
                -{{transaction.value/1000000000000000000 | number: '1.2-8'}}
              </div>
              <div *ngIf="transaction.to.toLowerCase() == privateKey.ethAddress.toLowerCase()">
                {{transaction.value/1000000000000000000 | number: '1.2-8'}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: small;color: grey">
              {{transaction.timeStamp*1000 | date: 'yyyy/MM/dd HH:mm:ss'}}
            </ion-col>
            <ion-col style="text-align: right">
              <div *ngIf="transaction.confirmations >= 7 && transaction.confirmations != '' && transaction.confirmations != null &&  transaction.confirmations != '-1'">
                <ion-text color="success">成功</ion-text>
              </div>
              <div *ngIf="transaction.confirmations  <7 && transaction.confirmations != '' && transaction.confirmations != null &&  transaction.confirmations != '-1'">
                <ion-text color="primary">确认数（{{transaction.confirmations}}/6）</ion-text>
              </div>
              <div *ngIf="transaction.confirmations == '' || transaction.confirmations == null || transaction.confirmations  == '-1'">
                <ion-text color="primary">打包中...</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
