<ion-header>
  <ion-toolbar>
    <ion-title>修改密码</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item (click)="ruleClose()">
      <ion-icon name="key" color="warning" slot="start"></ion-icon>
      <ion-input [(ngModel)]="oldPassword" type="password" placeholder="旧密码" id="oldPassword"></ion-input>
      <ion-icon name="eye" color="medium" (click)="showPasswordOrNot()" id="passwordEye"></ion-icon>
    </ion-item>
    <ion-item (click)="PasswordRuleShow()">
      <ion-icon name="key" color="danger" slot="start"></ion-icon>
      <ion-input [(ngModel)]="newPassword" type="password" placeholder="新密码" id="newPassword"></ion-input>
    </ion-item>
    <div *ngIf="showPasswordRule == true">
      <ion-grid>
        <ion-row>
          <ion-col [size]="1" style="text-align: center;color: red;font-size: larger">
            *
          </ion-col>
          <ion-col>
            <ion-text style="color: gray">● 6-20 字符 </ion-text>
            <br>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item (click)="ruleClose()">
      <ion-icon name="key" color="danger" slot="start"></ion-icon>
      <ion-input [(ngModel)]="repeatPassword" type="password" placeholder="重复密码" id="repeatPassword"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <ion-button (click)="update()">修改</ion-button>
  </div>
</ion-content>
