<ion-header>
  <ion-toolbar>
    <ion-title>区块链浏览器</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let browser of browserList; let i = index">
    <ion-card (click)="openWeb(browser.url)">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-row>
            <img src="{{browser.imageUrl}}" style="max-height: 30px; max-width: 30px">
            <ion-title style="font-size: large">{{browser.title}}</ion-title>
          </ion-row>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-text>{{browser.introduction}}</ion-text>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
