<ion-header>
  <ion-toolbar>
    <ion-title>行情分析</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>资产分布</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-item lines="none">
          <canvas #assetChart></canvas>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text style="color: grey">场内资产</ion-text>
              </ion-col>
              <ion-col size="8" style="text-align: right">
                $ {{assetsOnSite/100000000 | number:'1.2-2'}} 亿
                <ion-text style="font-size: small; color: grey">(￥ {{assetsOnSite/100000000*exchangeRate.price_cny | number:'1.2-2'}} 亿)</ion-text>
              </ion-col>
            </ion-row>
            <ion-row style="font-size: small">
              <ion-col size="5">
                <ion-text style="color: grey">- 法币资产</ion-text>
              </ion-col>
              <ion-col size="7" style="text-align: right">
                $ {{exchangeRate.marketcap_total_usd/100000000 | number:'1.2-2'}} 亿
                <ion-text style="font-size: small; color: grey">(￥ {{exchangeRate.marketcap/100000000 | number:'1.2-2'}} 亿)</ion-text>
              </ion-col>
            </ion-row>
            <ion-row style="font-size: small">
              <ion-col size="5">
                <ion-text style="color: grey">- 数字资产</ion-text>
              </ion-col>
              <ion-col size="7" style="text-align: right">
                $ {{(assetsOnSite - exchangeRate.marketcap_total_usd)/100000000 | number:'1.2-2'}} 亿
                <ion-text style="font-size: small; color: grey">(￥ {{(assetsOnSite*exchangeRate.price_cny - exchangeRate.marketcap)/100000000 | number:'1.2-2'}} 亿)</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text style="color: grey">场外资产</ion-text>
              </ion-col>
              <ion-col size="8" style="text-align: right">
                $ {{assetsOnOut/100000000 | number:'1.2-2'}} 亿
                <ion-text style="font-size: small; color: grey">(￥ {{assetsOnOut*globalInfo.usdt_price_cny/100000000 | number:'1.2-2'}} 亿)</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text style="color: grey">全球资产</ion-text>
              </ion-col>
              <ion-col size="8" style="text-align: right">
                $ {{globalInfo.marketcapvol/100000000 | number:'1.2-2'}} 亿
                <ion-text style="font-size: small; color: grey">(￥ {{globalInfo.marketcapvol*globalInfo.usdt_price_cny/100000000 | number:'1.2-2'}} 亿)</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>涨跌情况</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-item lines="none">
          <canvas #exchangeChart></canvas>
        </ion-item>
        <ion-item>
          <ion-text slot="start">交易对数：</ion-text>
          <ion-text slot="end">{{globalInfo.fallnum + globalInfo.risenum}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-text slot="start">上涨数：</ion-text>
          <ion-text slot="end">{{globalInfo.risenum}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-text slot="start">下跌数：</ion-text>
          <ion-text slot="end">{{globalInfo.fallnum}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-text slot="start">24h交易金额：</ion-text>
          <ion-text slot="end">$ {{globalInfo.vol24h/100000000 | number: '1.2-2'}}亿</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
