<ion-header>
  <ion-toolbar>
    <ion-title>场内资产分析</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        资产分布（BTC）
        <span *ngIf="exchangeTotal.percentageForCoin < 0.3" style="color: green">
          看多
        </span>
        <span *ngIf="exchangeTotal.percentageForCoin >= 0.3" style="color: red">
          看空
        </span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="full">
        <ion-row>
          <div style="width: 100%; padding: 5%;position: relative; height: 25vh">
            <canvas #assetChart></canvas>
          </div>
        </ion-row>
        <ion-row>
          <div style="width: 100%; padding: 5%;position: relative; height: 35vh">
            <canvas #exchangeRateChart></canvas>
          </div>
        </ion-row>
        <ion-item (click)="toMarketCurrency()">
          <ion-text slot="start" size="medium" color="black">场内资产占比：{{exchangeTotal.percentage * 100 | number:'1.2-2'}}%</ion-text>
          <ion-text slot="end" size="medium" color="primary">查看详情>></ion-text>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text style="color: grey">场内BTC资产</ion-text>
              </ion-col>
              <ion-col size="8" style="text-align: right">
               {{exchangeTotal.marketBtc*exchangeTotal.percentage| number:'1.2-2'}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text style="color: grey">场外BTC资产</ion-text>
              </ion-col>
              <ion-col size="8" style="text-align: right">
                {{exchangeTotal.marketBtc - exchangeTotal.marketBtc*exchangeTotal.percentage| number:'1.2-2'}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text style="color: grey">全球BTC资产</ion-text>
              </ion-col>
              <ion-col size="8" style="text-align: right">
                {{exchangeTotal.marketBtc | number:'1.2-2'}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card style="display: none">
    <ion-card-header>
      <ion-card-subtitle>
        贪婪指数
        <span *ngIf="fomoGroup.value <= 90" style="color: green">
          看多
        </span>
        <span *ngIf="fomoGroup.value > 90" style="color: red">
          看空
        </span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <canvas #fomoChart></canvas>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">今日数据：</ion-col>
          <ion-col style="text-align:right">{{fomoGroup.value}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">昨日数据：</ion-col>
          <ion-col style="text-align:right">{{fomoGroup.day_value}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">上周数据：</ion-col>
          <ion-col style="text-align:right">{{fomoGroup.week_value}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">上月数据：</ion-col>
          <ion-col style="text-align:right">{{fomoGroup.month_value}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card style="display: none">
    <ion-card-header>
      <ion-card-subtitle>
        涨跌情况
        <span *ngIf="globalInfo.fallnum <= globalInfo.risenum" style="color: green">
          看多
        </span>
        <span *ngIf="globalInfo.fallnum > globalInfo.risenum" style="color: red">
          看空
        </span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <canvas #exchangeChart></canvas>
        </ion-row>
        <ion-row>
          <canvas #marketTrendChart></canvas>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">交易对数：</ion-col>
          <ion-col style="text-align:right">{{globalInfo.fallnum + globalInfo.risenum}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">上涨数：</ion-col>
          <ion-col style="text-align:right">{{globalInfo.risenum}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">下跌数：</ion-col>
          <ion-col style="text-align:right">{{globalInfo.fallnum}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align:left">24h交易金额：</ion-col>
          <ion-col style="text-align:right">$ {{globalInfo.vol24h/100000000 | number: '1.2-2'}}亿</ion-col>
        </ion-row>
      </ion-grid>
      <ion-list lines="full">

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
