<ion-header>
  <ion-toolbar>
    <ion-title>填写私钥</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-textarea rows="8" [(ngModel)]="privateKeyInput" placeholder="请输入您的私钥"></ion-textarea>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
    <ion-button size="default" (click)="(checkPrivateKey())">
      提交
    </ion-button>
  </div>
</ion-content>
