<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>钱包</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="live-news">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>资讯</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listing-latest">
      <ion-icon name="logo-bitcoin"></ion-icon>
      <ion-label>市场</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tool">
      <ion-icon name="hammer"></ion-icon>
      <ion-label>工具</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me">
      <ion-icon name="person"></ion-icon>
      <ion-label>个人中心</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
