<ion-header>
  <ion-toolbar>
    <ion-title>导出助记词</ion-title>
    <ion-icon name="close" (click)="dismiss(null)" slot="start" style="font-size: x-large;margin-left: 3%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item style="text-align: center">
      <ion-title size="large" color="primary">
        请抄下这12个助记词到一张纸上
      </ion-title>
    </ion-item>
    <ion-item style="text-align: center">
      <ion-card>
        <ion-card-content>
          <ion-text style="font-size: xx-large;color: black">
            {{privateKey.mnemonic}}
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item style="text-align: center">
      <ion-text style="font-size: medium;color: red">
        （警告：您的助记词只会保存于本地客户端和您记录助记词的纸质文件上，这些助记词不会存储在云端或者服务器上。
        若APP卸载或者手机丢失，您可以重新下载APP并重新导入这些助记词来恢复您的钱包，但是如果记录助记词的纸质文件也跟着丢失，
        那么您的钱包将无法恢复。钱包APP团队不会帮您记住助记词，这些助记词只有您自己知道。）
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
