<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
          pullingIcon="arrow-dropdown"
          refreshingSpinner="circles">
  </ion-refresher-content>
</ion-refresher>
<br>
<br>
<div *ngFor="let priceOffNotification of priceOffNotificationList; let i = index">
  <ion-card style="font-size: medium">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-item lines="full">
          #{{i+1}} 币种：{{priceOffNotification.code}}
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="calendar" color="primary"></ion-icon>
          </ion-col>
          <ion-col size="4">
            设置时间：
          </ion-col>
          <ion-col size="7" style="text-align: right">
            {{priceOffNotification.createTime | date: 'yyyy/MM/dd HH:mm:ss'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="alarm" color="danger"></ion-icon>
          </ion-col>
          <ion-col size="4">
            预警条件：
          </ion-col>
          <ion-col size="7" style="text-align: right">
            <div *ngIf="priceOffNotification.upPrice != null">
              <ion-text style="color: #2dd36f">价格上涨至：${{priceOffNotification.upPrice}}</ion-text>
            </div>
            <div *ngIf="priceOffNotification.downPrice != null">
              <ion-text style="color: red">价格下跌至：${{priceOffNotification.downPrice}}</ion-text>
            </div>
            <div *ngIf="priceOffNotification.upChangePercent != null">
              <ion-text style="color: #2dd36f">上涨幅度：+{{priceOffNotification.upChangePercent}}%</ion-text>
            </div>
            <div *ngIf="priceOffNotification.downChangePercent != null">
              <ion-text style="color: red">下跌幅度：{{priceOffNotification.downChangePercent}}%</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
