<ion-header>
  <ion-toolbar>
    <ion-title>个人中心</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <div *ngIf="userService.user == null || userService.user.id==null ||
      userService.user.id==''">
      <ion-item (click)="login()">
        <ion-icon name="person" color="primary"></ion-icon>
        <ion-label>　登录/注册</ion-label>
      </ion-item>
    </div>
    <div *ngIf="userService.user != null && userService.user.id!=null && userService.user.id!=''">
      <ion-item (click)="userInfo()">
        <ion-card style="width: 100%">
          <div style="width: 100%; text-align: center; color: black; font-size: x-large;">
            <p>{{userService.user.username}}</p>
          </div>
        </ion-card>
      </ion-item>
<!--      <ion-item (click)="userInfo()">-->
<!--        <ion-icon name="person" color="primary"></ion-icon>-->
<!--        <ion-label>　{{userService.user.username}} 的个人信息</ion-label>-->
<!--      </ion-item>-->
    </div>
    <ion-item (click)="toVIP()">
      <ion-icon name="card-outline" color="warning"></ion-icon>
      <ion-label>　会员中心</ion-label>
      <div *ngIf="userService.user.role.indexOf(constant.ROLE_VIP) !== -1">
        <ion-text color="danger">{{userService.user.vipTime | date}} （到期）</ion-text>
        <ion-chip outline color="danger">
          <ion-label>VIP</ion-label>
        </ion-chip>
      </div>
      <div *ngIf="userService.user.role.indexOf(constant.ROLE_VIP) === -1">
        <ion-text style="color: grey">（您不是会员）</ion-text>
        <ion-chip outline color="medium">
          <ion-label>VIP</ion-label>
        </ion-chip>
      </div>
    </ion-item>
    <ion-item (click)="toOrder()">
        <ion-icon name="file-tray-full-outline" color="dark"></ion-icon>
      <ion-label>　我的订单</ion-label>
    </ion-item>
    <ion-item (click)="walletContactManage()">
      <ion-icon name="wallet" color="tertiary"></ion-icon>
      <ion-label>　地址簿</ion-label>
    </ion-item>
    <ion-item (click)="webUrl()">
      <ion-icon name="home" color="primary"></ion-icon>
      <ion-label>　官网地址</ion-label>
    </ion-item>
    <ion-item (click)="githubUrl()">
      <ion-icon name="logo-github" color="dark"></ion-icon>
      <ion-label>　Github</ion-label>
    </ion-item>
    <ion-item (click)="checkVersion()">
      <ion-icon name="paper-plane" color="danger"></ion-icon>
      <ion-label>　版本: {{appVersionNumber}}</ion-label>
    </ion-item>
  </ion-list>
  <br/><br/>
  <div *ngIf="userService.user != null && userService.user.id!=null && userService.user.id!=''"
       (click)="logout()" style="text-align: center">
    <ion-button>退  出</ion-button>
  </div>
</ion-content>
