<ion-header>
  <ion-toolbar>
    <ion-title>换手率排行</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="5" style="color: grey;font-size: 15px">
            TOP30 币种
          </ion-col>
          <ion-col size="4" style="color: grey;font-size: 15px">
            24h换手率
          </ion-col>
          <ion-col size="3" style="color: grey;font-size: 15px">
            价格
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div *ngFor="let turnover of turnoverList; let i = index">
      <ion-item (click)="toCoinDetail(turnover.code)">
        <ion-grid>
          <ion-row style="font-size: small; color: grey">
            #{{i+1}} {{turnover.code}}
          </ion-row>
          <ion-row>
            <ion-col size="1">
              <img src="{{turnover.logo}}" referrerpolicy="no-referrer" style="max-height: 20px; max-width: 20px">
            </ion-col>
            <ion-col size="4">
              {{turnover.symbol}}
            </ion-col>
            <ion-col size="4">
              <ion-row>
                <ion-text>+{{turnover.turnover_percent | number : '1.2-2'}}%</ion-text>
              </ion-row>
              <ion-row>
                <ion-text style="font-size: small;color: grey">Vol：${{turnover.volume/100000000 | number :'1.3-3'}}亿</ion-text>
              </ion-row>
            </ion-col>
            <ion-col size="3">
              <ion-row>
                ${{turnover.price | number : '1.2-6'}}
              </ion-row>
              <ion-row style="font-size: small">
                <div *ngIf="turnover.change_rate >= 0">
                  <ion-text color="success">+{{turnover.change_rate | number: '1.2-2'}}%</ion-text>
                </div>
                <div *ngIf="turnover.change_rate < 0">
                  <ion-text color="danger">{{turnover.change_rate | number: '1.2-2'}}%</ion-text>
                </div>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
