<ion-header>
  <ion-toolbar>
    <ion-title>注册协议</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-left: 5%; margin-right: 5%">
    <h1>1. 定义</h1><br>
    <br>
    1.1 用户名：指您通过注册用以登录本软件会员服务区的符号，亦称为“账号”。<br>
    1.2 网络服务：指依照相关法律法规的规定通过互联网向您提供的服务。<br>
    <br>
    <h1>2. 用户名的注册与保管</h1><br>
    <br>
    2.1 您申请注册成为本软件会员时，必须向本软件提供真实且准确的个人资料，并于个人资料发生任何变动时及时更新。您在注册过程中输入的姓名和证件号码将作为识别您与用户名的一致性的首要证明资料。在您无法提供有效证明身份时，本软件无法提供有效注册用户名，且有权拒绝向您提供任何服务或承担任何义务。<br>
    2.2 您注册的用户名应当遵守以下规则：<br>
    2.2.1 不得以党和国家领导人或其他社会名人的真实姓名、字号、艺名、笔名注册；<br>
    2.2.2 不得以国家机构或其他机构的名称或其简称注册；<br>
    2.2.3 不得注册不文明、不健康名字，或包含歧视、侮辱、猥亵类词语的名字；<br>
    2.2.4 不得注册易产生歧义、引起他人误解的名字。<br>
    如果您注册的用户名违反了任何上述规则，本软件有权在不事先通知您的情况下拒绝您的注册或者删除您已经注册的用户名。<br>
    2.3 您注册成功后，即成为本软件的会员。您注册时登记的用户名和密码是您会员身份的唯一有效识别。您有义务对您的用户名和密码进行妥善保管。您不得将您的用户名、密码给予他人使用，其形式包括但不限于出借、转让。您理解，本软件并无必须核查每一用户名使用合法性的义务，因此，如果您发现您的用户名受到他人非法使用时，应当立即通知本软件。由于您疏于保管或黑客行为等原因造成的用户名、密码丢失及相应的损失均由您自行承担。<br>
    2.4 如您注册的用户名在任何连续180自然日内未实际使用，则本软件有权删除该账号并终止为您提供相关的网络服务。<br>
    2.5 您应当对您的用户名下发生的所有活动和事件承担全部法律责任。<br>
    <br>
    <h1>3. 网络服务条款</h1><br>
    <br>
    3.1 服务<br>
    3.1.1 本软件有权根据实际情况决定及调整提供网络服务的内容，并对其所提供之服务拥有最终解释权。<br>
    3.1.2 您理解，本软件仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由您自行负担。<br>
    3.1.3 本软件提供的部分网络服务为收费服务，您应当为使用的收费网络服务向本软件支付一定的费用。对于收费的网络服务，本软件会在您使用之前给予您明确的提示，只有您根据提示确认并支付相关费用后方有权使用该等收费网络服务。在您全额支付相关费用之前本软件有权拒绝向您提供该等收费网络服务。<br>
    3.1.4 您无争议的同意，本软件有权随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。如本软件变更、中断或终止免费网络服务，本软件无义务通知您，亦无义务对任何您或任何第三方承担任何责任；如本软件变更、中断或终止收费网络服务，本软件的全部义务仅限于在变更、中断或终止之前事先通知您，并应向您提供其他有效方式获取收费服务，如您未在本软件规定的期限内接受该收费服务，则视您自动放弃该收费服务，本软件将不再承担任何责任。<br>
    3.1.5 您理解，本软件需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护。如因此类情况而造成网络服务在合理时间内的中断，本软件无需为此承担任何责任。本软件将在条件允许的情况下，尽可能事先以适当的方式进行通知，但前述通知并非本软件必须履行的义务。<br>
    3.1.6 如果您从本软件下载软件，在使用软件时要遵守该软件附带的软件许可协议中所有的许可条款。在您阅读并接受软件许可协议的各项条款之前，不得下载或安装这一软件。如果在适用的许可条款或协议中，已经禁止复制或再分发这些软件，您须遵照执行，否则因此给本软件造成的任何损失均由您赔偿。<br>
    3.1.7 您有权依照本软件规定的程序和要求使用本软件提供的各项服务。如果您对本软件提供的某项服务有异议，可以依照本软件提供的联系方式与本公司取得联系以便得到及时解决。<br>
    3.2 使用规则<br>
    3.2.1 您在使用本软件网络服务过程中，必须遵循以下规则：<br>
    （1） 遵守中国有关的法律、法规和规范性文件；<br>
    （2） 遵守所有与网络服务有关的网络协议、规定和程序；<br>
    （3） 不得为任何非法目的而使用网络服务系统；<br>
    （4） 不得利用本软件网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的任何行为；<br>
    （5） 不得利用本软件提供的网络服务上传、展示或传播任何非法的、虚假的、违反社会公德的信息资料；<br>
    （6） 不得从事任何侵犯其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益的行为；<br>
    （7） 不得利用本软件网络服务系统进行任何不利于本软件或危害计算机信息网络安全的行为；<br>
    （8）不得利用本软件网络服务系统进行商业广告行为；<br>
    （9）不得利用本软件提供的网络服务诽谤、恶意中伤他人或扭曲捏造虚假事实等；<br>
    （10） 如发现任何非法使用用户名或用户名出现安全漏洞的情况，应立即通知本软件。<br>
    3.2.2 您无争议的同意，针对本软件提供的网络服务，本软件有权随时通过各种方式（包括但不限于网页公告、电子邮件、短信提醒等）做出任何相关的声明、通知、警示。该等声明、通知、警示的内容视为本协议的一部分，如您在本软件做出该等声明、通知、警示后使用该等网络服务，视为您完全同意该等声明、通知、警示的内容。<br>
    3.2.3 在下列情形下，本软件有权随时中断或终止向您提供本协议项下的网络服务（包括收费的网络服务）而无需对您或任何第三方承担任何责任：<br>
    （1） 您提供的个人资料不真实；<br>
    （2） 您违反本协议中规定的使用规则包括但不限于本协议3.2。在此等情形下，本软件亦有权要求您改正或自行更改/删除您发布的全部或部分信息资料。<br>
    3.2.4 鉴于网络的不可预见性，您理解并明确同意您使用本软件提供的网络服务所存在的风险及由此产生的一切后果均完全由您自行承担，无论本软件是否就该等风险事先告知您，本软件无须就此对您承担任何责任。<br>
    3.2.5 本软件不就下述事项向您做任何形式的担保或保证：<br>
    （1） 网络服务一定能满足您的要求；<br>
    （2） 网络服务的持续畅通，不中断；<br>
    （3） 网络服务的及时性、安全性、准确性。<br>
    <br>
    <h1>4. 知识产权</h1><br>
    <br>
    4.1 本软件提供的网络服务中可能包括文本、图片、图形、图表、软件、音频和/或视频资料等均受著作权、商标和/或其它财产所有权法律的保护。<br>
    4.2 您只有获得相关权利人同意之后，才能依照相关权利人授权的范围使用上述资料。否则，您不得复制、发布、传播、修改、再创造上述资料，亦不得将上述资料用于其他任何商业目的。<br>
    4.3 您保证您对通过本软件发布的内容享有知识产权或已就相关行为获得相关权利人的授权，并对上述保证事项承担全部法律责任。若因您通过本软件发布的内容侵犯第三方的权利而引起第三方对本软件的索赔、交涉、诉讼，您应为本软件抗辩，或在本软件的要求下合作抗辩，保证本软件利益不受损害，您应承担因此而产生的所有赔偿、罚款、律师费和损害赔偿等。<br>
    <br>
    <h1>5. 违约赔偿</h1><br>
    <br>
    您有义务保障和维护本软件及其他用户的利益。如因您违反有关法律、法规、规范性文件的规定或本协议项下的任何条款而给本软件或任何其他第三人造成损失，您同意承担由此造成的全部损害赔偿责任。<br>
    <br>
    <h1>6. 不可抗力</h1><br>
    <br>
    6.1 “不可抗力”是指本协议双方不能预见、不能避免并且不能克服的客观情况，其情形包括：火灾、地震、洪水、战争、罢工、网络堵塞或瘫痪、病毒、黑客攻击等。<br>
    6.2 遭受不可抗力事件的一方可暂行中止履行本协议项下的义务直至不可抗力事件的影响消除为止，并且无需为此而承担违约责任；但应尽最大努力克服该等事件，减轻其负面的影响。<br>
    <br>
    <h1>7. 一般条款</h1><br>
    <br>
    7.1 协议修改<br>
    7.1.1 您同意，本软件有权随时修改本协议的任何条款。您应经常访问本页面以了解当前的条款。<br>
    7.1.2 如您不同意本软件对本协议相关条款所做的修改，应当立即停止使用本软件提供的网络服务。如果您在本软件对本协议相关条款做出修改后继续使用本软件提供的网络服务，则视为您完全接受本软件对本协议相关条款所做的全部修改。<br>
    7.2 通讯<br>
    7.2.1 您同意，本协议的签署及本软件根据本协议向您提供的通知、披露等均可以电子方式进行。本协议项下本软件通过网页公告、电子邮件、手机短信或常规的信件传送等方式向您发出的通知自本软件发送之日视为已送达。<br>
    7.2.2 您对于本软件的通知应当通过本软件对外正式公布的通信地址、传真号码、电子邮件地址等联系信息向本软件进行书面送达。<br>
    <br>
    <h1>8. 其他规定</h1><br>
    <br>
    8.1 本协议中的标题仅为方便而设，在解释本协议时应被忽略。<br>
    8.2 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。<br>
    8.3 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款及该条款的其他部分仍应有效并且有约束力。<br>
  </div>
</ion-content>
