<ion-header>
  <ion-toolbar>
    <ion-title>板块涨幅</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let concept of conceptList; let i = index">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              {{i+1}}
            </ion-col>
            <ion-col size="6">
              {{concept.name}}
            </ion-col>
            <ion-col style="text-align: right">
              <div *ngIf="concept.change_week_percent > 0">
                <ion-text color="success">+{{concept.change_week_percent | number : '.2-2'}}%</ion-text>
              </div>
              <div *ngIf="concept.change_week_percent <= 0">
                <ion-text color="danger">{{concept.change_week_percent | number : '.2-2'}}%</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
