<ion-header>
  <ion-toolbar>
    <ion-title>价格提醒</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)]="priceNotificationPage" value="priceNotificationLatest">
    <ion-segment-button value="priceNotificationLatest">未触发预警</ion-segment-button>
    <ion-segment-button value="priceNotificationHistory">历史预警</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <div *ngIf="priceNotificationPage == 'priceNotificationLatest'">
    <app-price-notification-latest></app-price-notification-latest>
  </div>
  <div *ngIf="priceNotificationPage == 'priceNotificationHistory'">
    <app-price-notification-history></app-price-notification-history>
  </div>
</ion-content>
