<ion-header>
  <ion-toolbar>
    <ion-title>修改监控地址</ion-title>
    <ion-icon name="close" (click)="dismiss(null)" slot="start" style="font-size: x-large;margin-left: 3%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-icon name="logo-bitcoin" color="warning"></ion-icon>
      <ion-label>　选择币种</ion-label>
      <ion-select [(ngModel)]="symbol">
        <ion-select-option value="BTC">BTC</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="wallet" color="medium"></ion-icon>
      <ion-text>　地址：</ion-text>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="monitorAddress.address" placeholder="输入地址"></ion-input>
      <ion-text color="primary" (click)="paste()">　粘贴</ion-text>
      <ion-text style="font-size: small">　|　</ion-text>
      <ion-icon name="camera" color="primary" (click)="qrScan()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="document" color="medium"></ion-icon>
      <ion-text>　标签：</ion-text>
      <ion-input [(ngModel)]="monitorAddress.tag" placeholder="(不超过25字)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>电话提醒：</ion-label>
      <ion-toggle [(ngModel)]="monitorAddress.phone" slot="end" color="primary" disabled="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>短信提醒：</ion-label>
      <ion-toggle [(ngModel)]="monitorAddress.sms" slot="end" color="primary" disabled="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>邮件提醒：</ion-label>
      <ion-toggle [(ngModel)]="monitorAddress.email" slot="end" color="primary"></ion-toggle>
    </ion-item>
  </ion-list>

  <div style="text-align: center">
    <ion-button color="primary" (click)="updateMonitorAddress()">
      提交
    </ion-button>
  </div>
</ion-content>
