<ion-header>
  <ion-toolbar>
    <ion-title>重置密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" [(ngModel)]="password" placeholder="请输入钱包密码" id="password"></ion-input>
      <ion-icon name="eye" color="medium" (click)="showPasswordOrNot()" id="passwordEye"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" [(ngModel)]="repeatPassword" placeholder="重复密码" id="repeatPassword"></ion-input>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
    <ion-button size="default" (click)="toWallet()">确定</ion-button>
  </div>
</ion-content>
