<ion-header>
  <ion-toolbar>
    <ion-title>ETH-提币</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center">
    <br>
    <ion-title>ETH 提币</ion-title>
  </div>
  <ion-list lines="full">
    <ion-item lines="none">
      <ion-icon name="wallet" color="medium"></ion-icon>
      <ion-text>　发送方：</ion-text>
    </ion-item>
    <ion-item>
      {{privateKey.ethAddress}}
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="wallet" color="medium"></ion-icon>
      <ion-text>　接收方：</ion-text>
      <ion-text color="primary" slot="end" style="text-decoration: underline" (click)="chooseAddress()">地址簿</ion-text>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="recipientAddr" placeholder="输入地址"></ion-input>
      <ion-text color="primary" (click)="paste()">　粘贴</ion-text>
      <ion-text style="font-size: small">　|　</ion-text>
      <ion-icon name="camera" color="primary" (click)="qrScan()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-bitcoin" color="warning"></ion-icon>
      <ion-label>　金额（ETH）：</ion-label>
      <ion-input [(ngModel)]="amount" placeholder="{{balance/1000000000000000000}} 可用"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="cafe" color="tertiary"></ion-icon>
      <ion-label>　手续费（ETH）：</ion-label>
      <ion-text>≈ {{fee | number: '1.2-8'}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-range [(ngModel)]="gwei" (ionChange)="getFee()" min="25" max="100" color="secondary" step="0.1" pin>
        <ion-label slot="start">25 gwei</ion-label>
        <ion-label slot="end">100 gwei</ion-label>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>备注（可选）：</ion-label>
      <ion-textarea rows="4" [(ngModel)]="note" placeholder="请输入16进制数"></ion-textarea>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
    <ion-button color="primary" (click)="sendConfirm()">发　送</ion-button>
  </div>
</ion-content>
