<ion-header>
  <ion-toolbar>
    <ion-title>币种详情</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)]="coinPage" value="coinIntroduction">
    <ion-segment-button value="coinIntroduction">简况</ion-segment-button>
    <ion-segment-button value="coinMarket">交易所</ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>


  <div *ngIf="coinPage == 'coinIntroduction'">
    <app-coin-introduction></app-coin-introduction>
  </div>
  <div *ngIf="coinPage == 'coinMarket'">
    <app-coin-market></app-coin-market>
  </div>
</ion-content>
