<ion-header>
  <ion-toolbar>
    <ion-title>钱包添加</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #FF9E02">
    <ion-card-header>
      <ion-card-subtitle>
        <img src="https://s2.bqiapp.com/coin/20181030_72_webp/bitcoin_200_200.webp?v=20" referrerpolicy="no-referrer"
             style="max-width: 20px;max-height: 20px">
        <ion-text style="font-size: medium;font-weight: bolder;color: white">　BTC-WALLET</ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text style="color: white">
        地址：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.btcAddress}}
      </ion-text>
      <br>
      <ion-text style="color: white">
        私钥：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.btcPrivateKey}}
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: #0892C1">
    <ion-card-header>
      <ion-card-subtitle>
        <img src="https://s2.bqiapp.com/coin/20181030_72_webp/ethereum_200_200.webp?v=35" referrerpolicy="no-referrer"
             style="max-width: 20px;max-height: 20px">
        <ion-text style="font-size: medium;font-weight: bolder;color: white">　ETH-WALLET</ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text style="color: white">
        地址：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.ethAddress}}
      </ion-text>
      <br>
      <ion-text style="color: white">
        私钥：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.ethPrivateKey}}
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: grey">
    <ion-card-header>
      <ion-card-subtitle>
        <img src="https://s2.bqiapp.com/coin/20181030_72_webp/litecoin_200_200.webp?v=35" referrerpolicy="no-referrer"
             style="max-width: 20px;max-height: 20px">
        <ion-text style="font-size: medium;font-weight: bolder;color: white">　LTC-WALLET</ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text style="color: white">
        地址：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.ltcAddress}}
      </ion-text>
      <br>
      <ion-text style="color: white">
        私钥：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.ltcPrivateKey}}
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color: limegreen">
    <ion-card-header>
      <ion-card-subtitle>
        <img src="https://menu.cdn.bitcoindotcom.net/uni/dist/assets/crypto/bch.png" referrerpolicy="no-referrer"
             style="max-width: 20px;max-height: 20px">
        <ion-text style="font-size: medium;font-weight: bolder;color: white">　BCH-WALLET</ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text style="color: white">
        地址：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.bchAddress}}
      </ion-text>
      <br>
      <ion-text style="color: white">
        私钥：
      </ion-text>
      <br>
      <ion-text style="color: white">
        {{privateKey.bchPrivateKey}}
      </ion-text>
    </ion-card-content>
  </ion-card>
<!--  <ion-card style="background-color: blueviolet">-->
<!--    <ion-card-header>-->
<!--      <ion-card-subtitle>-->
<!--        <img src="https://s2.bqiapp.com/coin/20181030_72_webp/ripple_200_200.webp?v=35" referrerpolicy="no-referrer"-->
<!--             style="max-width: 20px;max-height: 20px">-->
<!--        <ion-text style="font-size: medium;font-weight: bolder;color: white">　XRP-WALLET</ion-text>-->
<!--      </ion-card-subtitle>-->
<!--    </ion-card-header>-->
<!--    <ion-card-content>-->
<!--      <ion-text style="color: white">-->
<!--        地址：-->
<!--      </ion-text>-->
<!--      <br>-->
<!--      <ion-text style="color: white">-->
<!--        {{privateKey.xrpAddress}}-->
<!--      </ion-text>-->
<!--      <br>-->
<!--      <ion-text style="color: white">-->
<!--        公钥：-->
<!--      </ion-text>-->
<!--      <br>-->
<!--      <ion-text style="color: white">-->
<!--        {{privateKey.xrpKeyPair.publicKey}}-->
<!--      </ion-text>-->
<!--      <br>-->
<!--      <ion-text style="color: white">-->
<!--        私钥：-->
<!--      </ion-text>-->
<!--      <br>-->
<!--      <ion-text style="color: white">-->
<!--        {{privateKey.xrpPrivateKey}}-->
<!--      </ion-text>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
  <ion-list>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" [(ngModel)]="privateKey.password" placeholder="请输入钱包密码" id="password"></ion-input>
      <ion-icon name="eye" color="medium" (click)="showPasswordOrNot()" id="passwordEye"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-input type="password" [(ngModel)]="repeatPassword" placeholder="重复密码" id="repeatPassword"></ion-input>
    </ion-item>
  </ion-list>
  <div style="text-align: center">
    <ion-button size="default" (click)="toWallet()">确定</ion-button>
  </div>
</ion-content>
