<ion-header>
  <ion-toolbar>
    <ion-title>钱包管理</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngIf="privateKey.isHDWallet === true" (click)="exportMnemonic()">
      <ion-icon name="text"></ion-icon>
      <ion-text>　导出助记词</ion-text>
    </ion-item>
    <ion-item (click)="exportKey()">
      <ion-icon name="key"></ion-icon>
      <ion-text>　导出私钥</ion-text>
    </ion-item>
    <ion-item (click)="forgetPassword()">
      <ion-icon name="key"></ion-icon>
      <ion-text>　忘记密码</ion-text>
    </ion-item>
    <ion-item style="color: red" (click)="deleteWallet()">
      <ion-icon name="trash" color="danger"></ion-icon>
      <ion-text>　删除钱包</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
