<ion-header>
  <ion-toolbar>
    <ion-title>修改一个价格提醒</ion-title>
    <ion-icon name="close" (click)="dismiss(null)" slot="start" style="font-size: x-large;margin-left: 3%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-icon name="logo-bitcoin" color="warning"></ion-icon>
      <ion-label>　选择一个币种</ion-label>
      <ion-select [(ngModel)]="monitorPrice.code">
        <div *ngFor="let monitorCoin of monitorCoinList">
          <ion-select-option value="{{monitorCoin.code}}">
            <ion-text>{{monitorCoin.code}}</ion-text>
          </ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>价格上涨至：</ion-label>
      <ion-input style="text-align: right" [(ngModel)]="monitorPrice.upPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>价格下跌至：</ion-label>
      <ion-input style="text-align: right" [(ngModel)]="monitorPrice.downPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>上涨幅度：</ion-label>
      <ion-input style="text-align: right" [(ngModel)]="monitorPrice.upChangePercent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>下跌幅度：</ion-label>
      <ion-input style="text-align: right" [(ngModel)]="monitorPrice.downChangePercent"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>电话提醒：</ion-label>
      <ion-toggle [(ngModel)]="monitorPrice.voice" slot="end" color="primary" disabled="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>短信提醒：</ion-label>
      <ion-toggle [(ngModel)]="monitorPrice.sms" slot="end" color="primary" disabled="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>邮件提醒：</ion-label>
      <ion-toggle [(ngModel)]="monitorPrice.email" slot="end" color="primary" disabled="true"></ion-toggle>
    </ion-item>
  </ion-list>

  <div style="text-align: center">
    <ion-button color="primary" (click)="updateMonitorPrice()">
      提交
    </ion-button>
  </div>

</ion-content>
