<ion-header>
  <ion-toolbar>
    <ion-title>区块链导航</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngFor="let hotWeb of hotWebList; let i = index">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-row>
            <img src="{{hotWeb.imageUrl}}" referrerpolicy="no-referrer" style="max-height: 30px; max-width: 30px">
            <ion-title style="font-size: large">{{hotWeb.title}}</ion-title>
            <ionic5-star-rating #rating activeColor = "orange" readonly = "true" fontSize="small" rating="{{hotWeb.star}}"></ionic5-star-rating>
          </ion-row>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row style="max-height: 40px;overflow: hidden" id="{{hotWeb.id  + 'content'}}" (click)="displayFullContent(hotWeb.id)">
            {{hotWeb.introduction}}
          </ion-row>
          <ion-row id="{{hotWeb.id + 'hideText'}}" (click)="displayFullContent(hotWeb.id)">
            ...
          </ion-row>
          <ion-row>
            <ion-text color="primary" (click)="openWeb(hotWeb.url)">{{hotWeb.url}}</ion-text>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
