<ion-header>
  <ion-toolbar>
    <ion-title>板块涨幅</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
<!--  <ion-toolbar>-->
<!--    <ion-segment [(ngModel)]="sort" value="change" (ionChange)="getConceptList()">-->
<!--      <ion-segment-button value="change">24小时</ion-segment-button>-->
<!--      <ion-segment-button value="change_w">7天</ion-segment-button>-->
<!--    </ion-segment>-->
<!--  </ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6" style="color: grey;font-size: 15px">
            TOP30 板块
          </ion-col>
          <ion-col size="3" style="color: grey;font-size: 15px">
            表现最佳
          </ion-col>
          <ion-col size="3" style="color: grey;font-size: 15px">
            24h涨跌幅
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div *ngFor="let concept of conceptList; let i = index">
      <ion-item (click)="toDetail(concept)">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-text style="color: grey;font-size: small">#{{i+1 | number: '2.0-0'}}</ion-text>
              <ion-text>　{{concept.name}}({{concept.total_coin}})</ion-text>
            </ion-col>
            <ion-col size="3">
              <ion-row>
                {{concept.best}}
              </ion-row>
              <ion-row>
                <div *ngIf="concept.best_percent >= 0">
                  <ion-text style="font-size: small;color: grey">+{{concept.best_percent}}%</ion-text>
                </div>
                <div *ngIf="concept.best_percent < 0">
                  <ion-text style="font-size: small;color: grey">{{concept.best_percent}}%</ion-text>
                </div>
              </ion-row>
            </ion-col>
            <ion-col size="3" style="text-align: center">
              <div *ngIf="concept.change_percent > 0" style="background-color: #2dd36f;text-align: center;padding: 3px;border-radius: 5px">
                <ion-text style="color: white">+{{concept.change_percent | number : '.2-2'}}%</ion-text>
              </div>
              <div *ngIf="concept.change_percent <= 0" style="background-color: red;text-align: center;padding: 3px;border-radius: 5px">
                <ion-text style="color: white">{{concept.change_percent | number : '.2-2'}}%</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
