<ion-header>
  <ion-toolbar>
    <ion-title>快讯详情</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-row>
          <ion-text>{{liveNews.created_at*1000 | date: 'yyyy/MM/dd HH:mm:ss'}}　</ion-text>
          <ionic5-star-rating #rating activeColor = "orange" readonly = "true" fontSize="small" rating="{{liveNews.grade}}"></ionic5-star-rating>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          {{liveNews.content}}
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <ion-text>
              看涨：{{liveNews.up_counts}}
            </ion-text>
            <ion-icon name="arrow-up" color="danger"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-text>
              看跌：{{liveNews.down_counts}}
            </ion-text>
            <ion-icon name="arrow-down" color="success"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center;padding: 5%">
    <ion-textarea rows="4" placeholder="输入您的评论" [(ngModel)]="myComment.content" style="border: solid 1px lightgrey; text-align: left"></ion-textarea>
    <br>
    <ion-button color="primary" (click)="createMyComment()">提交</ion-button>
  </div>
  <ion-item-divider>评论区</ion-item-divider>
  <ion-list lines="full">
    <div *ngFor="let comment of commentList; let i = index">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3" (click)="toUserOpenDetail(comment.userId)">
              #{{i+1}}
              <span style="color: dodgerblue">{{comment.username}}</span>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-col>
                  {{comment.content}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8" style="color: grey; font-size: small">
                  {{comment.createTime | date: 'yyyy/MM/dd HH:mm:ss'}}
                </ion-col>
                <ion-col size="1">
                  <ion-icon *ngIf="!comment.isLike" name="thumbs-up-outline" color="dark" (click)="updateMyCommentLike(comment.id)"></ion-icon>
                  <ion-icon *ngIf="comment.isLike" name="thumbs-up" color="primary" (click)="updateMyCommentLike(comment.id)"></ion-icon>
                </ion-col>
                <ion-col size="1">
                  {{comment.likeTotal}}
                </ion-col>
                <ion-col size="1">
                  <ion-icon *ngIf="comment.userId === userService.user.id" name="trash-outline" color="danger" (click)="deleteMyComment(comment)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
