<ion-header>
  <ion-toolbar>
    <ion-title>LTC-WALLET</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none">
    <ion-item>
      <ion-card style="background-color: grey">
        <ion-card-header>
          <ion-card-subtitle>
            <img src="https://s2.bqiapp.com/coin/20181030_72_webp/litecoin_200_200.webp?v=20" referrerpolicy="no-referrer"
                 style="max-width: 20px;max-height: 20px">
            <ion-text style="font-size: medium;color: white;font-weight: bolder">　LTC-WALLET</ion-text>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-text style="color: white">
            {{privateKey.ltcAddress}}
          </ion-text>
          <br>
          <br>
          <ion-text style="color: white;font-size: large">
            价值：${{sochainLtcAddress.balance * price | number:'1.2-2'}}
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6" style="text-align: center">
            <ion-button size="default" (click)="toWalletLitecoinReceive(privateKey)">充　币</ion-button>
          </ion-col>
          <ion-col size="6" style="text-align: center">
            <ion-button size="default" color="tertiary" (click)="toWalletLitecoinSend(privateKey)">提　币</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <br>
  <ion-title style="font-weight: bolder">
    资产
    <ion-text style="font-size: small;color: royalblue;font-weight: normal;" (click)="toCoinDetail()">（币种介绍）</ion-text>
  </ion-title>
  <ion-list lines="full">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <img src="https://s2.bqiapp.com/coin/20181030_72_webp/litecoin_200_200.webp?v=20" referrerpolicy="no-referrer"
                 style="max-width: 20px;max-height: 20px">
          </ion-col>
          <ion-col size="3">
            <ion-text style="font-size: medium">LTC</ion-text>
          </ion-col>
          <ion-col size="8" style="text-align: right">
            <ion-text style="font-size: medium">{{sochainLtcAddress.balance | number: '1.2-8'}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <br>
  <ion-title style="font-weight: bolder">交易记录</ion-title>
  <ion-list lines="full">
    <div *ngFor="let transaction of sochainLtcAddress.txs">
      <ion-item (click)="toWalletLitecoinTransaction(transaction.txid)">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="code-working" color="success"></ion-icon>
            </ion-col>
            <ion-col size="7">
              hash: {{transaction.txid.slice(0,5)}}...{{transaction.txid.slice(transaction.txid.length-5,transaction.txid.length)}}
            </ion-col>
            <ion-col size="4" style="text-align: right">
              <div *ngIf="transaction.incoming != null && transaction.outgoing == null">
                {{transaction.incoming.value | number: '1.2-8'}}
              </div>
              <div *ngIf="transaction.outgoing != null && transaction.incoming == null">
                -{{transaction.outgoing.value | number: '1.2-8'}}
              </div>
              <div *ngIf="transaction.outgoing != null && transaction.incoming != null">
                {{transaction.incoming.value - transaction.outgoing.value | number: '1.2-8'}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: small;color: grey">
              {{transaction.time*1000 | date: 'yyyy/MM/dd HH:mm:ss'}}
            </ion-col>
            <ion-col style="text-align: right">
              <div *ngIf="transaction.confirmations >= 3">
                <ion-text color="success">成功</ion-text>
              </div>
              <div *ngIf="transaction.confirmations< 3 && transaction.block_no != null">
                <ion-text color="primary">确认数（{{transaction.confirmations | number}}/2）</ion-text>
              </div>
              <div *ngIf="transaction.block_no == null">
                <ion-text color="primary">打包中...</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
